.verdeBtn {
    background: $verdeBtn !important;
    color: white;
}

.btnHover:hover {
    background: $violeta !important;
}

@media (min-width: 730px) {
    .verdeBtnContacto {
        background: $verdeBtn !important;
        padding: 5px 25px;
        color: white;
        border-radius: 10px;
        margin-left: 350px !important;
    }
}

@media (max-width: 728px) {
    .verdeBtnContacto {
        margin-left: 130px;
    }

}

.botonSeguros {
    padding: 10px 13px;
    color: $violetaFooter;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
}