.verdeBtn {
    background: $verdeBtn !important;
    color: white;
}

.btnHover:hover {
    background: $violeta !important;
}

.verdeBtnContacto {
    background: $verdeBtn !important;
    padding: 5px 25px;
    color: white;
    border-radius: 10px;
    margin-left: 330px;

}

@media (max-width: 700px) {
    .verdeBtnContacto {
        margin-left: 210px;
    }

}

.botonSeguros {
    padding: 10px 13px;
    color: $violetaFooter;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    border: none;
}