.footerVioleta {
    padding: 0px!important;
    background: $violetaFooter;
}
.footer-transparente {
    img {
        margin-bottom: 30px;
        text-shadow: 2px 2px 2px black;
    }
    .nav-link {
        text-shadow: 1px 1px 2px black;

    }
    // &:hover {
    //     background: #00000040!important;
    // }
    background: transparent;
}
#menu { 
    // padding: 28px 0 58px 0;
    transition: 1.5s;
    span {
        color: white!important;
        text-align: left;
        display: block;
    }

    p {
        text-align: center;
        color: white;
    }

    ul {
        text-align: center;
    }

    // datos contacto mobile
    .margRedes {
        margin-bottom: 1px;
        color: white!important;
        display: block;
    }

    // .circulo {
    //     // background: white;
    //     padding: 14px;
    //     border-radius: 50%;
    //     text-align: center;

    //     i {
    //         color: white;
    //     }
    // }


    // .iconosRedes {
    //     padding-left: 180px;
    // }
    .fa {
        font-size: 35px
    }
}
@media (max-width: 768px){
    #menu {
        .fa {
            font-size: 40px
        }
    }
}