.footerVioleta {
    padding: 0px!important;
    background: $violetaFooter;
    a {
        font-size: 30px;
    }
}
.footer-transparente {
    img {
        margin-bottom: 30px;
    }
    &:hover {
        background: black!important;
    }
    background: transparent;
}
#menu { 
    // padding: 28px 0 58px 0;
    transition: 1.5s;

    p {
        text-align: center;
        color: white;
    }

    ul {
        text-align: center;
    }

    // datos contacto mobile
    .margRedes {
        margin-bottom: 1px;
    }

    // .circulo {
    //     // background: white;
    //     padding: 14px;
    //     border-radius: 50%;
    //     text-align: center;

    //     i {
    //         color: white;
    //     }
    // }


    // .iconosRedes {
    //     padding-left: 180px;
    // }
}