//form
.formulario {
    background: $verdeForm;
    padding: 30px 0;

    .btn-trabaja {
        margin-top: 25px;
        background: $verdeBtn;
        padding: 3px 36px;
        color: white;

        &:hover {
            background: $violeta !important;
        }
    }


    .form-control {
        padding: 17px 10px;
        border-radius: 15px
    }

    @media (max-width: 700px) {
        .form-control {
            padding: 13px 8px;

        }

        //mobile inputs en home
        .custom-file-label {
            margin-top: 1px;
            // margin-left: px;
            height: 52px;
            width: 354px;
            border-radius: 15px;
            padding-top: 13px;
        }

        .btnHover:hover {
            background: $violeta !important;
        }
    }

    // input adjuntar c.v desktop
    .custom-fle {
        width: 90%;
    }

    // hover a los inputs 


    // desktop inputs en home
    @media (min-width: 700px) {
        .custom-file-label {
            // border-radius: 10px !important;
            // padding: 20px 40px;
            background: white;
            border: none;
            margin-top: 1px;
            margin-left: 16px;
            height: 60px;
            width: 445px;
            border-radius: 15px;
            padding: 18px;
        }
    }
}

.form-control:hover,
.custom-file-label:hover {
    &:hover {
        background: rgb(236, 231, 231) !important;
    }
}

@media (min-width: 700px) {

    .form-control:hover,
    .custom-file-label:hover {
        &:hover {
            background: rgb(236, 231, 231) !important;
        }
    }
}

// trabaja con nosotros formulario HOME
.overlayVerde {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $verdeForm;
    opacity: 0.9 !important;
}