body {
    color: $grisLetraGral !important;
    font-family: 'Montserrat', sans-serif;

    h2 {
        color: white;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        // padding-bottom: 9px;
    }

    h3 {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
    }
}


//img slider desktop
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// .linea {
//     padding-top: -30px !important;
// }


// MODAL SEGUROS!
.modales {
    background-color: lightgray !important;
    border-radius: 75px !important;
    // text-align: left;

    padding: 50px 60px;

    h2 {
        color: $violetaFooter;
        font-weight: 900;
    }

    .segurosBtn {
        background: $violetaFooter;
        border-radius: 15px;
        color: white !important;
        padding: 12px 65px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    input {
        border-radius: 10px;
        border: 1px solid gray;
        padding: 10px 35px;
    }
}

.sectionAzul {
    // position: absolute;
    // top: 0;
    background: url('img/chicaDeskIndex.jpg');
    width: 100%;
    height: 650px;
    background-size: cover;
    position: relative;
    overflow: hidden;


}

.overlayAzul {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    background: rgb(17, 142, 180)(0, 0, 0, 6.9) !important;
    opacity: .5 !important;
}