body {
    color: $grisLetraGral !important;
    font-family: 'Montserrat', sans-serif;

    h2 {
        color: white;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        // padding-bottom: 9px;
    }

    h3 {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
    }
}


//img slider desktop
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// .linea {
//     padding-top: -30px !important;
// }