body {
    color: $grisLetraGral !important;
    font-family: 'Montserrat', sans-serif;

    h2 {
        color: white;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        // padding-bottom: 9px;
    }

    h3 {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
    }
}


//img slider desktop
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// .linea {
//     padding-top: -30px !important;
// }


// MODAL SEGUROS!
.modales {
    background-color: lightgray !important;
    border-radius: 75px !important;
    // text-align: left;

    padding: 50px 60px;

    h2 {
        color: $violetaFooter;
        font-weight: 900;
    }

    .segurosBtn {
        background: $violetaFooter;
        border-radius: 15px;
        color: white !important;
        padding: 12px 65px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    input {
        border-radius: 10px;
        border: 1px solid gray;
        padding: 10px 35px;
    }

    @media (max-width: 720px) {
        padding: 50px 23px;

        h2 {
            font-weight: 800;
            font-size: 25px;
        }

        .modal-content {
            width: 97%;
        }
    }
}

.seccionAzul {
    width: 100%;

    h2 {
        margin-top: 170px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2.3rem;
    }

    .btnAzul {
        margin-top: 20px;
        padding: 13px 27px;
        background-color: #015168;
        border-radius: 23px;
        color: white;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 720px) {

    .h2SeccionAzul {
        font-weight: 400;
        margin-top: 120px !important;
        // font-size: 20px;
    }

    .modal-content {
        width: 97%;
    }
}


// COLOR CIAN OVERLAY DE SECCION SEGUROS
.overlayAzul {
    // IMPORTANTE: POSITION RELATIVE
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $cian;
    opacity: .5 !important;
    // z-index: 1;
}

// ------------SEGUROS ----------------
// flechita seguros modales 

.flechaSeg {
    position: absolute;
    top: 15%;
    left: -36%;
    width: 40px;

}

// .flechaSeg.seis {
//     margin-bottom: 100px !important;
// }


// .flechaSeg2 {
//     position: absolute;
//     top: 15%;
//     left: -36%;
//     width: 20px;
// }


// MEDIA QUERIES MOBILE SEGURO FLECHITAS
@media (max-width: 728px) {
    .mediaq1 {
        left: -3% !important;
    }
}

@media (max-width: 728px) {
    .mediaq2 {
        left: 2%;
        top: 30%;
    }
}

// .mediaq2 {
//     left: 2%;
//     top: 30%;
// }

@media (max-width: 728px) {
    .mediaq3 {
        left: 3%;
        top: 28%;
    }
}

@media (max-width: 728px) {
    .mediaq4 {
        left: 3%;
        top: 32%;
    }
}


@media (max-width: 728px) {
    .mediaq5 {
        left: -21%;
        top: 19%;
    }
}

@media (max-width: 728px) {
    .mediaq6 {
        left: -31%;
        top: 21%;
    }
}


// div automotor el 1ro en mobile
@media (max-width: 728px) {
    .automotorMobile {
        margin-top: 5px;
    }
}

// MENSAJES DE ERROR en CONTACTO FORM
.wpcf7-not-valid-tip {
    margin-top: 5px;
    color: red;
}

.wpcf7-response-output {
    margin-top: 5px;
    color: red;
}

.screen-reader-response {
    display: none;
}

.wpcf7-validation-errors {
    margin-top: 5px;
    color: red;
}

.wpcf7-mail-sent-ok {
    color: green;
    display: flex;
    justify-content: center;
}



// barra mapa contacto gris q viene con my maps escondida
.barraGris {
    overflow: hidden;
    clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
}

// form contacto
@media (max-width: 728px) {
    .formContacto {
        margin-top: -5px !important;
    }
}



// AJUSTE DE RESOLUCION DE LOS DIVS DE SEGUROS, para q al achicarse no se rompiesen!!!
@media (min-width: 700px) and (max-width: 1250px) {
    .automotorIpad {
        font-size: 15px !important;
    }

    h4 {
        font-size: 17px;
    }
}