// nav mobile
.navBarra {
    background: transparent;
    padding: 0;
    margin: 0;

    &:hover {
        background: darken($color: black, $amount: 0.1)
    }

    // hamburguesa
    .spanNav {
        color: white;
    }

    // .navbar-toggler-icon {
    //     z-index: 1500px;
    //     color: white;
    // }

    .nav-link {
        font-size: 1.2rem;
    }

    // desktop (color transparente del nav para q el bg-img ocupe full screen)
    @media (min-width: 700px) {

        .navItem1 {
            margin-top: 0;
            background-color: transparent;
        }

        // (permite cambio de posicion entre logo y links):
        .navItem2 {
            margin-top: 150px;
        }
    }

    // @media (max-width: 80px) {
    //     .fixed-top {
    //         .logoNav {
    //             margin-bottom: 40px;
    //         }

    //         .nav-link {
    //             font-size: 35px !important;
    //         }
    //     }
    // }

    // mobile: background-color de hamburger menu
    @media (max-width: 700px) {
        .bg-hamburger {
            background: $violeta;
        }

        // al container en mobile
        .cianColor {
            background: #38033E;
        }

        // .navbar-fixed-top {
        //     display: none !important;
        // }
    }

}


.navItem2:hover {
    background: darken($color: black, $amount: 0.1)
}