.seccionRosa {
    background: $rosaBtn;
    margin: 0 0 !important;

    button {
        background: #90154D;
        // border-radius: 10px;
        color: white;
        padding: 3px 36px;
        // margin-bottom: 28px;
    }
}